In [4]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv('https://raw.githubusercontent.com/BadreeshShetty/Learnings-to-make-Recommedations/master/Content%20Filtering/movies.csv')

In [6]:
print(df.head())
unique_genre=[]

   movieId                         title  \
0        1                    Toy Story
1        2                      Jumanji
2        3             Grumpier Old Men
3        4            Waiting to Exhale
4        5  Father of the Bride Part II

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

In [7]:
for inx,row in df.iterrows():
    genre=row['genres'].split('|')
    for gen in genre:
        if gen not in unique_genre:
            unique_genre.append(gen)

In [8]:
unique_genre

['Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Fantasy',
 'Romance',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Horror',
 'Mystery',
 'Sci-Fi',
 'War',
 'Musical',
 'Documentary',
 'IMAX',
 'Western',
 'Film-Noir',
 '(no genres listed)']

In [9]:
df.count()

movieId    9742
title      9742
genres     9742
dtype: int64

In [10]:
x=np.zeros((9742,20))

In [11]:
x

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [12]:
XDF=pd.DataFrame(x,columns=unique_genre,index=df.movieId)

In [13]:
XDF.head()

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
for ix,rowdata in df.iterrows():
    genre=rowdata['genres'].split('|')
    for gen in genre:
        XDF.loc[rowdata['movieId'],gen]=1

In [15]:
XDF.head()

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity=cosine_similarity(XDF,XDF)

In [ ]:
similarity1=pd.DataFrame(similarity,columns=df.title,index=df.title)

In [ ]:
similarity1.head()

In [17]:
similarity1['Toy Story '].sort_values(ascending=False)

title
Toy Story                                                                     1.000000
Turbo                                                                         1.000000
Monsters, Inc.                                                                1.000000
Moana                                                                         1.000000
Emperor's New Groove, The                                                     1.000000
Adventures of Rocky and Bullwinkle, The                                       1.000000
Toy Story 2                                                                   1.000000
Wild, The                                                                     1.000000
The Good Dinosaur                                                             1.000000
Tale of Despereaux, The                                                       1.000000
Asterix and the Vikings (Astérix et les Vikings)                              1.000000
Antz                                                                          1.000000
Shrek the Third                                                               1.000000
Ant Bully, The                                                                0.912871
Twelve Tasks of Asterix, The (Les douze travaux d'Astérix)                    0.912871
Valiant                                                                       0.912871
Puss in Boots (Nagagutsu o haita neko)                                        0.912871
Gnomeo & Juliet                                                               0.912871
Space Jam                                                                     0.912871
Home                                                                          0.912871
Inside Out                                                                    0.912871
TMNT (Teenage Mutant Ninja Turtles)                                           0.912871
Shrek                                                                         0.912871
The Lego Movie                                                                0.912871
Shrek Forever After (a.k.a. Shrek: The Final Chapter)                         0.912871
Toy Story 3                                                                   0.912871
Rio 2                                                                         0.894427
Lion King 1½, The                                                             0.894427
Wow! A Talking Fish!                                                          0.894427
Kirikou and the Sorceress (Kirikou et la sorcière)                            0.894427
                                                                                ...
Cobra                                                                         0.000000
Phenomena (a.k.a. Creepers)                                                   0.000000
Tightrope                                                                     0.000000
Sleeping with the Enemy                                                       0.000000
Miss Meadows                                                                  0.000000
Come and See (Idi i smotri)                                                   0.000000
Ginger Snaps                                                                  0.000000
Virunga                                                                       0.000000
My Life Without Me                                                            0.000000
Handmaid's Tale, The                                                          0.000000
Cabin Fever                                                                   0.000000
Revolution OS                                                                 0.000000
Death in Venice (Morte a Venezia)                                             0.000000
Dust                                                                          0.000000
Stoked: The Rise and Fall of Gator                                            0.000000
Jeepers Creepers 2                                                            0.000000
Once Upon a Time in the Midlands                                              0.000000
Citizenfour                                                                   0.000000
Taking Sides                                                                  0.000000
Children of the Night                                                         0.000000
Luther                                                                        0.000000
Watermark                                                                     0.000000
Once Upon a Time in China II (Wong Fei-hung Ji Yi: Naam yi dong ji keung)     0.000000
Once Upon a Time in China III (Wong Fei-hung tsi sam: Siwong tsangba)         0.000000
Day of the Dead                                                               0.000000
Squirm                                                                        0.000000
Brood, The                                                                    0.000000
Cold Creek Manor                                                              0.000000
Fighting Temptations, The                                                     0.000000
Monsieur Ibrahim (Monsieur Ibrahim et les fleurs du Coran)                    0.000000
Name: Toy Story , Length: 9742, dtype: float64

In [17]:
def RecommendationSytem(dataframe,titles):
    similarity=cosine_similarity(dataframe,dataframe)
    similarity=pd.DataFrame(similarity,columns=df.title,index=df.title)
    print(similarity[titles].sort_values(ascending=False).head(10))

In [18]:
RecommendationSytem(XDF,'Toy Story ')

title
Toy Story                                   1.0
Turbo                                       1.0
Monsters, Inc.                              1.0
Moana                                       1.0
Emperor's New Groove, The                   1.0
Adventures of Rocky and Bullwinkle, The     1.0
Toy Story 2                                 1.0
Wild, The                                   1.0
The Good Dinosaur                           1.0
Tale of Despereaux, The                     1.0
Name: Toy Story , dtype: float64

In [19]:
RecommendationSytem(XDF,'Turbo ')

title
Toy Story                                   1.0
Turbo                                       1.0
Monsters, Inc.                              1.0
Moana                                       1.0
Emperor's New Groove, The                   1.0
Adventures of Rocky and Bullwinkle, The     1.0
Toy Story 2                                 1.0
Wild, The                                   1.0
The Good Dinosaur                           1.0
Tale of Despereaux, The                     1.0
Name: Turbo , dtype: float64

In [24]:
similarity=cosine_similarity(XDF,XDF)
similarity=pd.DataFrame(similarity,columns=df.title,index=df.title)
def RecommendationSytem1(titles):
    #similarity=cosine_similarity(dataframe,dataframe)
    #similarity=pd.DataFrame(similarity,columns=df.title,index=df.title)
    print(similarity[titles].sort_values(ascending=False).head(10))

In [25]:
RecommendationSytem1('Turbo ')

title
Toy Story                                   1.0
Turbo                                       1.0
Monsters, Inc.                              1.0
Moana                                       1.0
Emperor's New Groove, The                   1.0
Adventures of Rocky and Bullwinkle, The     1.0
Toy Story 2                                 1.0
Wild, The                                   1.0
The Good Dinosaur                           1.0
Tale of Despereaux, The                     1.0
Name: Turbo , dtype: float64