In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('https://raw.githubusercontent.com/BadreeshShetty/Learnings-to-make-Recommedations/master/Content%20Filtering/movies.csv')

In [5]:
print(df.head())
unique_genre=[]

   movieId                         title  \
0        1                    Toy Story
1        2                      Jumanji
2        3             Grumpier Old Men
3        4            Waiting to Exhale
4        5  Father of the Bride Part II

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

In [6]:
for inx,row in df.iterrows():
    genre=row['genres'].split('|')
    for gen in genre:
        if gen not in unique_genre:
            unique_genre.append(gen)

In [7]:
unique_genre

['Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Fantasy',
 'Romance',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Horror',
 'Mystery',
 'Sci-Fi',
 'War',
 'Musical',
 'Documentary',
 'IMAX',
 'Western',
 'Film-Noir',
 '(no genres listed)']

In [8]:
df.count()

movieId    9742
title      9742
genres     9742
dtype: int64

In [9]:
x=np.zeros((9742,20))

In [10]:
x

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [11]:
XDF=pd.DataFrame(x,columns=unique_genre,index=df.movieId)

In [12]:
XDF.head()

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
for ix,rowdata in df.iterrows():
    genre=rowdata['genres'].split('|')
    for gen in genre:
        XDF.loc[rowdata['movieId'],gen]=1

In [14]:
XDF.head()

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
print(cosine_similarity(df, df))

NameError: name 'cosine_similarity' is not defined

In [19]:
from sklearn.metrics.pairwise import cosine_similarity
cosine=cosine_similarity(XDF, XDF)

In [38]:
XDF[['Adventure','Animation']]

         Adventure  Animation
movieId
1              1.0        1.0
2              1.0        0.0
3              0.0        0.0
4              0.0        0.0
5              0.0        0.0
6              0.0        0.0
7              0.0        0.0
8              1.0        0.0
9              0.0        0.0
10             1.0        0.0
11             0.0        0.0
12             0.0        0.0
13             1.0        1.0
14             0.0        0.0
15             1.0        0.0
16             0.0        0.0
17             0.0        0.0
18             0.0        0.0
19             0.0        0.0
20             0.0        0.0
21             0.0        0.0
22             0.0        0.0
23             0.0        0.0
24             0.0        0.0
25             0.0        0.0
26             0.0        0.0
27             0.0        0.0
28             0.0        0.0
29             1.0        0.0
30             0.0        0.0
...            ...        ...
188189         0.0        0.0
188301         1.0        0.0
188675         0.0        0.0
188751         0.0        0.0
188797         0.0        0.0
188833         1.0        0.0
189043         0.0        0.0
189111         0.0        0.0
189333         1.0        0.0
189381         0.0        0.0
189547         0.0        0.0
189713         0.0        0.0
190183         0.0        0.0
190207         0.0        0.0
190209         0.0        0.0
190213         0.0        0.0
190215         0.0        0.0
190219         0.0        1.0
190221         0.0        0.0
191005         1.0        0.0
193565         0.0        1.0
193567         0.0        1.0
193571         0.0        0.0
193573         0.0        1.0
193579         0.0        0.0
193581         0.0        1.0
193583         0.0        1.0
193585         0.0        0.0
193587         0.0        1.0
193609         0.0        0.0

[9742 rows x 2 columns]